{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Cancelar Plano</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

{% endblock %}
{% block main %}
  <a href="{% url 'exibir_plano' %}" class="back-button">←</a> <br>
  <h2>Cancelar plano {{ plano.nome }}</h2>

  <p>Tem certeza que deseja cancelar sua assinatura?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Cancelar</button>
    <a href="{% url 'exibir_perfil' %}" class="btn btn-secondary">Voltar</a>
  </form>
{% endblock %}