{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Criar Plano</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

{% endblock %}
{% block main %}
  <a href="{% url 'exibir_perfil' %}" class="back-button">← Cancelar</a> <br>

  <h2>Assinar o plano {{ plano.nome }}</h2>

  <p><strong>Valor:</strong> R$ {{ plano.valor }}</p>
  <p><strong>Prazo:</strong> Ate {{ plano.prazo }}</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Assinar Plano</button>
  </form>

{% endblock %}