{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Cancelar Plano</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

{% endblock %}

{% block main %}
<a href="{% url 'exibir_perfil' %}" class="back-button">←</a> <br>

<h1>Seu Plano</h1>

{% if plano %}
    <p><strong>Nome:</strong> {{ plano.nome }}</p>
    <p><strong>Valor:</strong> R$ {{ plano.valor }}</p>
    <p><strong>Data de Assinatura:</strong> {{ plano.data_assinatura|date:"d/m/Y H:i" }}</p>
    <p><strong>Vencimento:</strong> {{ plano.prazo|date:"d/m/Y H:i" }}</p>
{% else %}
    <p>Você ainda não possui um plano ativo.</p>
{% endif %}

        <a href="{% url 'cancelar_plano' %}" class="action-button">Cancelar Plano</a>
{% endblock %}